.InputWrapper {
  display: flex;
  flex-direction: column;
}

.placeholder {
  margin-right: 5px;
  color: var(--inverted-secondary-color);
}

.input {
  background: transparent;
  padding: 5px 10px;
  border:0;
  box-shadow: var(--shadow-input);
  color: var(--inverted-primary-color);
  border-radius: 5px;
  outline: none;
  caret-color: var(--inverted-primary-color);
}
