.app_blue_theme {
  --bg-color: #1b505e;
  --primary-color: #31aa7f;
  --secondary-color: #F4F9FB;
  --inverted-bg-color: #0c6983;
  --inverted-primary-color: #F4F9FB; 
  --inverted-secondary-color: #6fe8be; 
  --shadow: 0 5px 10px 2px rgba(34 60 80 / 20%);
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);
}