.app_dark_theme {
  --bg-color: #20232a;
  --inverted-bg-color: #fafafa;
  --primary-color: #536dfe;
  --secondary-color: #b000f5;
  --inverted-primary-color: #268f1d;
  --inverted-secondary-color: #86f874;
  --shadow: 0 5px 10px 2px rgba(248 251 254 / 20%);
  --skeleton-color: #1515ad;
  --skeleton-shadow: #2b2be8;
  --code-bg: #2a2e36;
}