.app.dark {
  --bg-color: #86AFA7;
  --inverted-bg-color: #FACBB0;

  --primary-color: #2F4F52; // акцентный цвет
  --secondary-color: #AC9699; // неакцентный
  --inverted-primary-color: #9B4454; 
  --inverted-secondary-color: #B4836D;
}