.app_dark_theme {
  --bg-color: #20232a;
  --inverted-bg-color: #fafafa;
  --primary-color: #536dfe; 
  --secondary-color: #b000f5; 
  --inverted-primary-color: #268f1d;
  --inverted-secondary-color: #86f874;
}