.app.light {
  --bg-color: #FACBB0;
  --inverted-bg-color: #86AFA7;
  --primary-color: #9B4454; // акцентный цвет
  --secondary-color: #B4836D; // неакцентный
  --inverted-primary-color: #2F4F52;
  --inverted-secondary-color: #AC9699;
}