.app_light_theme {
  --bg-color: #fafafa;
  --primary-color: #268f1d;
  --secondary-color: #86f874;
  --inverted-bg-color: #20232a;
  --inverted-primary-color: #536dfe; 
  --inverted-secondary-color: #b000f5; 
  --shadow: 0 5px 10px 2px rgba(34 60 80 / 20%);
  /* stylelint-disable-next-line color-function-notation */
  --skeleton-color: rgb(206, 209, 211);
  --skeleton-shadow: rgba(0 0 0 / 20%);
}