.app_light_theme {
  --bg-color: #fafafa;
  --inverted-bg-color: #20232a;
  --primary-color: #268f1d;
  --secondary-color: #86f874;
  --inverted-primary-color: #536dfe; 
  --inverted-secondary-color: #b000f5; 
  --shadow: 0 5px 10px 2px rgba(34 60 80 / 20%)
}