.ProfileCard {
  padding: 20px;
  box-shadow: var(--shadow);
  border-radius: 10px;
}

.avatarWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.input {
  margin-top: 10px;
}

.loading,
.error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.readonly input {
  outline: none;
  outline-offset: 0;
  border: none;
  box-shadow: none;
}